<h2>Reviews:</h2>
<hr>
<ul class="list-group">
  <% @reviews.each do |review| %>
    <li class="list-group-item"><%= review.content %><%= review.rating %></li>
  <% end %>
</ul>
<br>


<%= link_to 'Back to Restaurant', restaurants_path %>
